* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", Arial, sans-serif;
    background-color: #7f9ead;
}

/*

IMAGE WITH LINEAR-GRADIENT

.parent__div {
  width: 100vw;
  height: 100vh;
  background-color: #485460;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child__div {
  width: 60vw;
  height: 60vh;
  background-image: linear-gradient(120deg, rgba(255,255,255,0.9) 50%, transparent 50%), url(https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=2000);
  background-size: 100% 100%;
  box-shadow: 0 1rem 2rem -0.6rem #000;
}

@media screen and (max-width: 768px) {
    .child__div{
        background-image: linear-gradient(120deg, rgba(255,255,255,0.9) 50%, transparent 50%), url(https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=2000);
    }
} */

/* CHANGE BG-COLOR WITH ANIMATION

body{
    width: 100%;
    height: 100vh;
    animation: changeBg 20s linear infinite;
    display: grid;
    place-items: center;
    background-color: orangered;
}

@keyframes changeBg {
    0%{
        background-color: orangered;
    }

    20%{
        background-color: yellow;
    }

    40%{
        background-color: green;
    }

    60%{
        background-color: red;
    }

    80%{
        background-color: blue;
    }

    100%{
        background-color: rgb(146, 83, 149);
    }
} */

/* BOUNCING BALLS ANIMATION

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(253, 251, 251);
}

ul{
    display: flex;
    border-bottom: 1.5rem solid rgb(14, 27, 66);
    border-radius: 1rem;
}

ul li{
    width: 4rem;
    height: 4rem;
    list-style: none;
    background-color: royalblue;
    margin: auto 2rem;
    border-radius: 50%;
    animation: bouncing 1s linear infinite alternate-reverse;
}

@keyframes bouncing{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-15rem);
    }

    100%{
        transform: translateY(0);
    }
}

ul li:nth-child(2){
    animation-delay: 0.2s;
}
ul li:nth-child(3){
    animation-delay: 0.4s;
}
ul li:nth-child(4){
    animation-delay: 0.6s;
}
ul li:nth-child(5){
    animation-delay: 0.8s;
} */


/* BUTTON HOVER USING ANIMATION

body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(30, 35, 44);
}

ul{
    width: 100%;
    display: flex;
    justify-content: center;
}

ul li{
    list-style: none;
}

ul li a{
    color: rgb(210, 211, 45);
    padding: .8rem 1.5rem;
    margin: 0 1.5rem;
    text-decoration: none;
    position: relative;
}

ul li a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .3s ;
    transform-origin: left;
    top: 0;
    left: 0;
    border-top: .2rem solid rgb(210, 211, 45);
    border-left: .2rem solid rgb(210, 211, 45);
}

ul li a::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .3s ;
    transform-origin: left;
    bottom: 0;
    right: 0;
    border-bottom: .2rem solid rgb(210, 211, 45);
    border-right: .2rem solid rgb(210, 211, 45);
}

ul li a:hover:after,
ul li a:hover:before{
    width: 10%;
    height: 20%;
    transform: rotate(360deg);
} */


/* BUTTON HOVER

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(0, 0, 90%);
}

button{
    padding: 1.5rem 4.5rem;
    font-size: 2.4rem;
    background-color: #2874a6;
    color: #fff;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    position: relative;
}

button::before{
    content: "";
    position: absolute;
    left: -1rem;
    top: -1rem;
    width: 4rem;
    height: 4rem;
    border-top: .5rem solid #2e86c1;
    border-left: .5rem solid #2e86c1;
    transition: all .4s;
}

button::after{
    content: "";
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 4rem;
    height: 4rem;
    border-bottom: .5rem solid #2e86c1;
    border-right: .5rem solid #2e86c1;
    transition: all .4s;
}

button:hover:before,
button:hover:after{
    width: 100%;
    height: 100%;
}

button:hover{
    box-shadow: rgba(99, 99, 99, .2) 0 .2rem .8rem 0;
} */


/* CARD WITH HOVER

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", Arial, sans-serif;
    background-color: #7f9ead;
}

.card{
    position: relative;
    width: 30rem;
    height: 15rem;
    border-radius: 1rem;
    transition: .3s;
    padding: 3rem 5rem;
    background-color: #fff;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .5);
    cursor: pointer;
}

.card:hover{
    height: 25rem;
}

.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-9rem);
    z-index: 99;
}

img{
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .5);
}

.content{
    padding: 1rem 2rem;
    text-align: center;
    transform: translateY(-45rem);
    opacity: 0;
    transition: .3s;
}

.card:hover > .content{
    opacity: 1;
    transform: translateY(-12.5rem);
}

.content h2{
    color: #7f9ead;
    padding-bottom: 1.3rem;
    text-transform: uppercase;
} */

/* CARD HOVER EFFECT

.card{
    position: relative;
    height: 30rem;
    width: 20rem;
    background-color: #fff;
    transition: .5s;
}

.face{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.face-1{
    text-align: center;
    padding: 2rem;
    color: #073668;
    transition: .5s;
}

.face-1 h2{
    text-transform: uppercase;
    margin-top: 8rem;
}

.face-1 p{
    text-align: center;
    margin-top: 2rem;
}

.face-1 a{
    margin-top: 2rem;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #073668;
    border: 2px solid #073668;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
}

.face-2{
    background-color: #073668;
    transition: .5s;
}

.face-2 h2{ 
    font-size: 12rem;
    color: #fff;
    transition: .5s;
}

.card:hover .face-2{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    top: 5rem;
    left: 35%;
    background-color: #fff;
    border: 1px solid #073668;
}

.card:hover .face-2 h2{
    font-size: 3rem;
    color: #073668;
}

a:hover{
    background-color: #073668;
    color: #fff;
} */


.card{
    width: 40rem;
    height: 25rem;
    padding: 3rem;
    background-color: #1380f5;
    border-radius: 1rem;
    clip-path: circle(23.2% at 100% 0);
    transition: all .3s;
}

.card h1{
    margin: 2.7rem 0;
    color: rgb(24, 241, 158);
}

.card p{
    color: #fff;
    line-height: 150%;
}

.card h3{
    color: #fff;
    margin-top: 2rem;
}

.card:hover{
    clip-path: circle(141.4% at 100% 0);
}